In [7]:
from sqlmodel import Session
from db import create_db_and_tables, teardown_db, get_engine
from models import FilmLocation
from get_data import film_locations

In [14]:
f = film_locations[0]
f

{'title': '180',
 'release_year': '2011',
 'locations': 'Epic Roasthouse (399 Embarcadero)',
 'production_company': 'SPI Cinemas',
 'director': 'Jayendra',
 'writer': 'Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba',
 'actor_1': 'Siddarth',
 'actor_2': 'Nithya Menon',
 'actor_3': 'Priya Anand'}

In [9]:
fl = FilmLocation(**f)

In [10]:
engine = get_engine()
with Session(engine) as sess:
    sess.add(fl)
    sess.commit()

2023-03-17 23:20:24,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-17 23:20:24,912 INFO sqlalchemy.engine.Engine INSERT INTO filmlocation (title, release_year, locations, production_company, director, writer, actor_1, actor_2, actor_3) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-03-17 23:20:24,913 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ('180', 2011, 'Epic Roasthouse (399 Embarcadero)', 'SPI Cinemas', 'Jayendra', '["Umarji Anuradha", "Jayendra", "Aarthi Sriram", "Suba"]', 'Siddarth', 'Nithya Menon', 'Priya Anand')
2023-03-17 23:20:24,914 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
'This is a (string)'.split('(')[1].strip(')')

'string'

In [15]:
condecimal

NameError: name 'condecimal' is not defined

In [16]:
from pydantic import condecimal

In [17]:
condecimal